div label {
    display: block;
}

.form {
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

.income-slider {
    float: left;
    padding-right: 5rem;

}

.income-input {
    width: 20%;
}

.income-input label {
    text-align: left;
}

.slider {
    width: 250px;
}
